@model _1101664.Models.TableAllroles1101664

@{
    ViewBag.Title = "創建角色";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2 style="text-align:center">創建新角色</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.category, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.category, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.category, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.age, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.age, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.age, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.height, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.height, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.height, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ability, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ability, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ability, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.attribute, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.attribute, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.attribute, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Creat" class="btn btnC" />
                @Html.ActionLink("Back", "AllRole", null, htmlAttributes: new { @class = "btn btnB" })
            </div>
        </div>
    </div>
    @*<a href="AllRole"><input type="submit" value="回到列表" class="btn" style="background-color: #568570; height: 50px; width: 80px;color:white;margin-left:600px;margin-bottom:100px" /></a>*@
}


<style>
    body 
    {

        background-color: #F4F2F3;
    }

    .form-horizontal {
        border-radius: 42px;
        padding: 24px;
        position: relative;
        width: 480px;
        height: 560px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: initial;
        font-size: 18px;
        font-weight: 700;
    }
    .btnC {
        background-color: #d3eff2;
        color: black;
        font-size: 15px;
        font-weight: 800;
        width: 80px;
    }

    .btnB {
        margin-left: 10px;
        font-size: 15px;
        background-color: #d3eff2;
        width: 80px;
        color: black;
        font-weight: 800;
    }
    .btn:hover 
    {
       background-color: #70aeb5;
       color:white;
    }
</style>