@model _1101664.Models.Tablesongs1101664

@{
    ViewBag.Title = "新增歌曲";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <h2 style="text-align:center">新增歌曲</h2>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.songname, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.songname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.songname, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.singer, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.singer, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.singer, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.author, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.author, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.author, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.time, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.time, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.time, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btnC" />
            @Html.ActionLink("Back", "Song", null, htmlAttributes: new { @class = "btn btnB" })
        </div>
    </div>
</div>
}



<style>
    .form-horizontal {
        border-radius: 42px;
        padding: 24px;
        position: relative;
        width: 480px;
        height: 560px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: initial;
        font-size: 18px;
        font-weight: 500;
    }
    .btnB
    {
        font-size:18px;
        font-weight:700;
        background-color:cadetblue;
        color:white;
    }
    .btnC {
        font-weight: 700;
        font-size: 18px;
        background-color: cadetblue;
        color: white;
    }

    .btn:hover {
        background-color: #71bdbf;
        color:white;
        font-weight:700;
    }
</style>