@*@model IEnumerable<_1101664.Models.Tablelogins1101664>*@

@using PagedList
@using PagedList.Mvc
@model IPagedList<_1101664.Models.Tablelogins1101664>

@{
    ViewBag.Title = "會員列表";
}

@*<h2 style="text-align:center">會員資料列表</h2>*@

@using (Html.BeginForm())
{
    <body>
        <table class="table table-bordered table-hover" style="background-color: white; float: left; font-weight: 800; margin-top: 10px; padding: 1px; margin-top: 40px">
            <caption style="background-color: #9dbfb0;color:black">會員資料</caption>
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().account)</th>
                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().password)</th>
                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().name)</th>
                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().email)</th>
                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().phonenumber)</th>
                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().address)</th>
                    <th>異動</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(x => m.account)</td>
                        <td>@Html.DisplayFor(x => m.password)</td>
                        <td>@Html.DisplayFor(x => m.name)</td>
                        <td>@Html.DisplayFor(x => m.email)</td>
                        <td>@Html.DisplayFor(x => m.phonenumber)</td>
                        <td>@Html.DisplayFor(x => m.address)</td>
                        <td>
                            @Html.ActionLink("明細", "DetailsM", new { account = m.account }, htmlAttributes: new { @class = "btn btnD" })
                            @Html.ActionLink("編輯", "EditM", new { account = m.account }, htmlAttributes: new { @class = "btn btnE" })
                            @Html.ActionLink("刪除", "DeleteM", new { account = m.account }, htmlAttributes: new { @class = "btn btnL" })
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
            <tfoot>
                <tr>
                    <td colspan="10">
                        @*<img src="~/Models/image/one.jpg" style="height:50px;width:150px" />*@
                        立即註冊!
                        <a href="Register"><input type="button" value="註冊會員" style="background-color: #bee6d4; color: black; border: 3px dashed; border-color: #436a6e; width: 70px; height: 30px "></a>
                        @*@Html.ActionLink("創建角色", "CreateM", null, new { @class = "btn"})*@
                    </td>
                </tr>
            </tfoot>
        </table>

        @Html.PagedListPager(Model, page => Url.Action("Member", new { page }),
        new PagedListRenderOptions
        {
            DisplayLinkToIndividualPages = false,
            DisplayLinkToFirstPage = PagedListDisplayMode.Always,
            DisplayLinkToLastPage = PagedListDisplayMode.Always,
            DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
            DisplayLinkToNextPage = PagedListDisplayMode.Always,
            DisplayPageCountAndCurrentLocation = true,
            DisplayItemSliceAndTotal = true,
            PageCountAndCurrentLocationFormat = "第{0}/共{1}頁",
            ItemSliceAndTotalFormat = "顯示項目:{0}~{1}/共{2}項"
        })
    </body>
}


@section topCSS
{
    <style>
        .body {
            font-family: DFWeiBei-B5;
            font-size: 15px;
            color: black;
            background-color: #F4F2F3;
        }

        .table > caption {
            margin-top: 10px;
            font-size: xx-large;
        }

        /*設定thead顏色*/
        .table > thead > tr {
            background-color: #bee6d4;
        }

        /*設定tfoot顏色及文字對齊*/
        .table > tfoot > tr {
            background-color: #9dbfb0;
        }

        /*設定文字對齊*/
        .table > caption, .table > thead > tr > th, .table > tfoot > tr {
            text-align: center;
        }

        .btnD {
            margin-left: 15px;
            background-color: #cff2c4;
            color: black;
            font-size: 15px;
            font-weight: 500;
            /*box-shadow: 0px 0px 2px 2px rgb(0,0,0);*/
        }

        .btnE {
            margin-left: 8px;
            background-color: #c0e0b6;
            color: black;
            font-size: 15px;
            font-weight: 500;
        }

        .btnL {
            margin-left: 8px;
            background-color: #9fbf95;
            color: black;
            font-size: 15px;
            font-weight: 500;
        }
    </style>
}


