@model IEnumerable<_1101664.Models.Tablelogins1101664>
@{
    ViewBag.Title = "MyQueryM";
}


<h2>查詢結果</h2>

<table class="table table-striped table-bordered table-hover">
    <caption style="background-color: #a5e3e8; color: black; font-weight: 800 ">會員列表</caption>
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.account)</th>
            <th>@Html.DisplayNameFor(m => m.password)</th>
            <th>@Html.DisplayNameFor(m => m.name)</th>
            <th>@Html.DisplayNameFor(m => m.email)</th>
            <th>@Html.DisplayNameFor(m => m.phonenumber)</th>
            <th>@Html.DisplayNameFor(m => m.address)</th>
            <th>異動</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@Html.DisplayFor(x => m.account)</td>
                <td>@Html.DisplayFor(x => m.password)</td>
                <td>@Html.DisplayFor(x => m.name)</td>
                <td>@Html.DisplayFor(x => m.email)</td>
                <td>@Html.DisplayFor(x => m.phonenumber)</td>
                <td>@Html.DisplayFor(x => m.address)</td>
                <td>
                    @Html.ActionLink("明細", "DetailsM", new { account = m.account }, htmlAttributes: new { @class = "btn btnD" })
                    @Html.ActionLink("編輯", "EditM", new { account = m.account }, htmlAttributes: new { @class = "btn btnE" })
                    @Html.ActionLink("刪除", "DeleteM", new { account = m.account }, htmlAttributes: new { @class = "btn btnL" })
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="10">
                @*<img src="~/Models/image/one.jpg" style="height:50px;width:150px" />*@
                想要立馬成為會員嗎?
                <a href="CreateM"><input type="button" value="註冊會員" style="background-color: #E7F5FF; color: black; border: 3px dashed; border-color: #436a6e; width: 70px; height: 30px "></a>
                @*@Html.ActionLink("創建角色", "CreateM", null, new { @class = "btn"})*@
            </td>
        </tr>
    </tfoot>
</table>
@Html.ActionLink("Back", "QueryM", null, new { @class = "btn btnB" })

@section topCSS
{
    <style>
        .btnB {
            color: white;
            font-weight: 800;
            font-size: 16px;
            width: 70px;
            background-color: #cc1818;
        }
        .body {
            font-family: DFWeiBei-B5;
            font-size: 15px;
            color: black;
        }

        .table > caption {
            margin-top: 10px;
            background-color: #436a6e;
            font-size: xx-large;
        }

        /*設定thead顏色*/
        .table > thead > tr {
            background-color: #92ccd1;
        }

        /*設定tfoot顏色及文字對齊*/
        .table > tfoot > tr {
            background-color: #a5e3e8;
        }

        /*設定文字對齊*/
        .table > caption, .table > thead > tr > th, .table > tfoot > tr {
            text-align: center;
        }
        .btnD {
            margin-left: 15px;
            background-color: #cff2c4;
            color: black;
            font-size: 15px;
            font-weight: 500;
            /*box-shadow: 0px 0px 2px 2px rgb(0,0,0);*/
        }

        .btnE {
            margin-left: 8px;
            background-color: #c0e0b6;
            color: black;
            font-size: 15px;
            font-weight: 500;
        }

        .btnL {
            margin-left: 8px;
            background-color: #9fbf95;
            color: black;
            font-size: 15px;
            font-weight: 500;
        }
    </style>
}
