@model IEnumerable<_1101664.Models.TableAllroles1101664>

@{
    ViewBag.Title = "查詢結果";
}

<h2>查詢結果</h2>

@using (Html.BeginForm())
{
<body style="background-color: #F4F2F3 ">
    <table class="table table-striped table-bordered table-hover">
        <caption style="background-color: #aed2d6; color: black; font-weight: 800 ">角色列表</caption>
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.Id)</th>
                <th>@Html.DisplayNameFor(m => m.name)</th>
                <th>@Html.DisplayNameFor(m => m.category)</th>
                <th>@Html.DisplayNameFor(m => m.age)</th>
                <th>@Html.DisplayNameFor(m => m.height)</th>
                <th>@Html.DisplayNameFor(m => m.ability)</th>
                <th>@Html.DisplayNameFor(m => m.attribute)</th>
                <th>異動</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(x => m.Id)</td>
                    <td>@Html.DisplayFor(x => m.name)</td>
                    <td>@Html.DisplayFor(x => m.category)</td>
                    <td>@Html.DisplayFor(x => m.age)</td>
                    <td>@Html.DisplayFor(x => m.height)</td>
                    <td>@Html.DisplayFor(x => m.ability)</td>
                    <td>@Html.DisplayFor(x => m.attribute)</td>

                    <td>
                        @Html.ActionLink("明細", "Details", new { id = m.Id }, htmlAttributes: new { @class = "btn btnD" })
                        @Html.ActionLink("編輯", "Edit", new { id = m.Id }, htmlAttributes: new { @class = "btn btnE" })
                        @Html.ActionLink("刪除", "Delete", new { id = m.Id }, htmlAttributes: new { @class = "btn btnL" })
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="10">
                    @*<img src="~/Models/image/one.jpg" style="height:50px;width:150px" />*@
                    想要成為鬼滅之刃的一員嗎? 點擊創建角色!
                    <a href="Create"><input type="button" value="創建角色" style="background-color: #E7F5FF; color: black; border: 3px dashed; border-color: #436a6e; width: 70px; height: 30px "></a>
                    @*@Html.ActionLink("創建角色", "CreateM", null, new { @class = "btn"})*@
                </td>
            </tr>
        </tfoot>
    </table>
    @Html.ActionLink("Back", "SelectQuery", null, new { @class = "btn btnI" })
</body>


}

@section topCSS
{
    <style>
        .btnI {
            margin-left: 10px;
            font-size: 15px;
            background-color: #aed2d6;
            width: 80px;
            color: black;
            font-weight: 800;
        }
        .btnI:hover 
        {
             color: white;
             background-color: #c7eef2;
             font-weight: 800;
        }
        .btn:hover
        {
            color: white;
        }

        .btnD {
            margin-left: 15px;
            background-color: #b6e0d2;
            color: black;
            font-size: 15px;
            font-weight: 500;
            /*box-shadow: 0px 0px 2px 2px rgb(0,0,0);*/
        }

        .btnE {
            margin-left: 8px;
            background-color: #87c4bf;
            color: black;
            font-size: 15px;
            font-weight: 500;
        }

        .btnL {
            margin-left: 8px;
            background-color: #538f8a;
            color: black;
            font-size: 15px;
            font-weight: 500;
        }
        .body {
            font-family: DFWeiBei-B5;
            font-size: 15px;
            color: black;
        }

        .table > caption {
            margin-top: 10px;
            background-color: #436a6e;
            font-size: xx-large;
        }

        /*設定thead顏色*/
        .table > thead > tr {
            background-color: #d3eff2;
        }

        /*設定tfoot顏色及文字對齊*/
        .table > tfoot > tr {
            background-color: #aed2d6;
        }

        /*設定文字對齊*/
        .table > caption, .table > thead > tr > th, .table > tfoot > tr {
            text-align: center;
        }
    </style>
    }
